<nav class="navbar navbar-static-top">
    <div class="navContainer">
        <ul class="nav navbar-nav">
            <li>
                <a><span class='glyphicon glyphicon-globe'></span></a>
            </li>
            <li ng-repeat="item in items" ng-show="!item.auth || isLoggedIn()">
                <a ui-sref-active="active" ui-sref="{{ item.state }}">{{ item.label }}</a>
            </li>
        </ul>
        <ul class='rightNav'>
            <li>
                <a ng-show="!user" ui-sref="login">Login</a>
            </li>
        </ul>
        <div ng-show="user" class="welcome">
            <div id="cart-count" class="pull-left" ng-controller="CartController">{{$root.cart}}</div>
            <div id="shopping-cart" class="glyphicon glyphicon-shopping-cart text-right"></div>
            <span>Welcome, {{ user.email }}!</span>
            <a ng-click="logout()">Logout</a>
        </div>
    </div>
</nav>
<style type="text/css">
    #cart-count {
        color: white;
    }
    #shopping-cart {
        color: white;
        font-size: 30px;
        padding-right: 10px;
    }
</style>