body{
	background: #f5f5f5;
}

#home {
text-align: center;

  fullstack-logo {
    padding-top: 30px;
    width: 150px;
    margin: 0 auto;
    
  }
  h1 {
    margin-top: 40px;
  }
}

.mainTitle{
	font-family: 'Pacifico', cursive;
	text-align: center;
	font-size: 8rem;
	color: #44C0BF;
	margin-bottom: 40px;
}

#turnglobe{
	text-align: center;
}

#worldmap {
	margin:0 auto;
}

#worldmap svg {
	background: #44C0BF;
	border-radius: 200px;
	box-shadow:0 0 10px rgba(0,0,0,0.4);
}

.land {
	fill: white;
}

.quote{
	text-align: center;
	margin: 0 auto;
	width: 44%;
	margin-top: 40px;
}

.left{
	text-align: left;
}

.right{
	text-align: right;
}

#left-quote{
	
}

#right-quote{
	float: right;
	text-align: right;
}

section{
	height: 100vh;
	padding: 40px;
}

#section-quote{
	background: #44C0BF;
	color: white;
}