<div class='side-pane'>
	<div class='controls inline center'>
		<button id='rewind' class='btn btn-default' ng-click='prevPoi()'><span class='glyphicon glyphicon-backward'></span></button>
		<button id='play' class='{{activatedButton | activated:"play"}}' ng-click='playTour()'><span class='glyphicon glyphicon-play'></span></button>
		<button id='pause'class='{{activatedButton | activated:"pause"}}' ng-click='pauseTour()'><span class='glyphicon glyphicon-pause'></span></button>
		<button id='forward'class='btn btn-default' ng-click='nextPoi()'><span class='glyphicon glyphicon-forward'></span></button>
		<button id='stop' class='{{activatedButton | activated:"stop"}}'><span class='glyphicon glyphicon-stop'></span></button>
	</div>
	<div class='description'>
		<p>{{showing.latitude}}, {{showing.longitude}}</p>
	</div>
	<div ng-controller="CartController">
		<button type="button" class="btn btn-primary" ng-click="addToCart()">Add To Cart</button>
	</div>
	<div class='audiotext'>
		<p ng-repeat='story in stories'></p>
	</div>
</div>