navbar {

  display: block;
  background: #363636;
  border: none;

  fullstack-logo {
    padding-top: 10px;
    margin-right: 20px;
    width: 30px;
  }

  a {
    color: white;
    &:hover {
      color: white;
      font-weight: bold;
      text-decoration: none;
    }
  }

  .nav > li > a {
    cursor: pointer;
    &.active {
      color: #44C0BF;
    }
    &:hover {
      transition: color 0.2s;
      background: transparent;
    }
    &:focus {
      color: #44C0BF;
      background: transparent;
    }
  }

  .login-button {
    float: right;
    margin-top: 8px;
  }
  
  .rightNav{
    padding-top: 15px;
    padding-bottom: 15px;
    float: right;
  }

  .navbar{
    margin-bottom: 0px;
  }

  .navContainer{
    padding-right: 25px;
    padding-left: 25px;
  }
  
  .welcome {
    float: right;
    margin-top: 12px;
    span {
      color: white;
    }
    a {
      color: #f30046;
      cursor: pointer;
    }
  }

}

ul{
  margin: 0;
}