<div class='tourDiv'>
	<div class='row'>
		<audiotour ng-model='tourData.points'></audiotour>

		<div class='col-md-8' ng-show='show'>
			<carousel interval="interval">
			  <slide ng-repeat="slide in slides">
			    <img ng-src="{{slide}}" style="margin:auto; height:100%">
			  </slide>
			</carousel>
		</div>

		<div class='col-md-8' ng-hide='show'>
			<gmap ng-model='tourData.points'></gmap>
		</div>

		<div class='col-md-4'>
			<button class='btn btn-default' ng-click='showPics()'>
				<span ng-hide='show'>Show Images</span>
				<span ng-show='show'>Show Map</span>
			</button>
			<sidepane ng-model='tourData.points'></sidepane>
		</div>

	</div>
</div>

