.angular-google-map-container{
	height: 100vh;
}

.carousel-control.left {
	background-image: none !important;
}

.carousel-control.right{
	background-image: none !important;
}

#map-canvas{
	height: 100vh;
}

.btn{
	margin-bottom: 20px;
}

.tourDiv{
	padding: 0px 20px;
}